
.d-container{
    overflow: hidden;
    position: relative;
    background: linear-gradient(#070306, #670d69);
    
}
.d-head{
  margin-bottom: 2rem;  
}

.d-card{
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in-out;
    
}
.d-card>img{
    width: 300px;
    height: 200px;
    object-fit: contain;
    /* height: 200px; */
    
    /* max-width: 15rem; */
}
/* Apply styles to the first two slides */



.d-card>:nth-child(2){
    scale: 1.2;
    font-size: 1.2rem;
    font-weight: 600;
}
.d-card>:nth-child(3){
    font-size: 1.5rem;
}
.d-card>:nth-child(4){
    font-size: 0.8rem;
    width: 15rem;
}
.d-card:hover{
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
        180deg, 
        rgba(255, 255, 255, 0) 0%,
        rgba(153, 171, 239, 0.46) 217.91%
    ); 
    /* hover korle je zoom er jei background color hoi ota sheta */

        box-shadow: 0px 72px 49px -51px rgba(178, 192, 249, 0.21);


}
.swiper-horizontal{
    overflow: visible;
}
.d-buttons-container{
    position: relative;
    gap: 1rem;
    
   
   
}
.d-buttons{
    position: absolute;
    
    align-items: center;  
}
.d-buttons-container button{
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    color: blue;
    border: none;
    border-radius: 5px;
    /* background: rgba(58, 58, 249, 0.257); */
    background:  linear-gradient(#efa0a0, #8441411c);
    cursor:  pointer;

}
.d-buttons-container:hover{
    scale: 1.2;
    cursor: pointer;
    background: linear-gradient(
        180deg, 
        rgba(255, 255, 255, 0) 0%,
        rgba(45, 85, 245, 0.46) 217.91%
    ); 

}
.d-price-text{
    
        color: rgb(11, 198, 255);
        font-size: 0.9rem;
      
}

