.footer {
  width: 100%;
  height: 175px;
  background-color: #121619;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: liner-gradient(transparent, black);
}

.socialMedia {
  display: flex;
  align-items: stretch;
}

.socialMedia svg {
  color: white;
  margin: 0 20px;
  font-size: 60px;
  cursor: pointer;
}

.footer p {
  color: white;
  display: flex;
  justify-content: center;
  padding: 5px;
}
